---
const a1 = Math.floor(Date.now() / 1000);
const a2 = Math.floor(Date.now() / 1000);
const a3 = Math.floor(Date.now() / 1000);
const a4 = Math.floor(Date.now() / 1000);
const a5 = Math.floor(Date.now() / 1000);
const a6 = Math.floor(Date.now() / 1000);
const a7 = Math.floor(Date.now() / 1000);
const a8 = Math.floor(Date.now() / 1000);
const a9 = Math.floor(Date.now() / 1000);
const a10 = Math.floor(Date.now() / 1000);
const a11 = Math.floor(Date.now() / 1000);
const a12 = Math.floor(Date.now() / 1000);
const a13 = Math.floor(Date.now() / 1000);
const a14 = Math.floor(Date.now() / 1000);
const a15 = Math.floor(Date.now() / 1000);
const a16 = Math.floor(Date.now() / 1000);
const a17 = Math.floor(Date.now() / 1000);
const a18 = Math.floor(Date.now() / 1000);
const a19 = Math.floor(Date.now() / 1000);
const a20 = Math.floor(Date.now() / 1000);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>{a1}</p>
<p>{a2}</p>
<p>{a3}</p>
<p>{a4}</p>
<p>{a5}</p>
<p>{a6}</p>
<p>{a7}</p>
<p>{a8}</p>
<p>{a9}</p>
<p>{a10}</p>
<p>{a11}</p>
<p>{a12}</p>
<p>{a13}</p>
<p>{a14}</p>
<p>{a15}</p>
<p>{a16}</p>
<p>{a17}</p>
<p>{a18}</p>
<p>{a19}</p>
<p>{a20}</p>
	</body>
</html>
